<h2 class="screen-align">Createscreen</h2>
<div class="">
    <div id="template-iyek" class="gjs-row">
        <div id="template-itzk" class="gjs-cell">
            <label id="template-i04f" class="">name</label>
            <input type="text" id="template-ivwp" [(ngModel)]="ticket.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-iokhc" (click)="Create()" class="btn btn-primary ">create</div>
        </div>
        <div id="template-irzo" class="gjs-cell">
            <label id="template-iusc8" class="">email</label>
            <input type="text" id="template-iu04" [(ngModel)]="ticket.email"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>